<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Angular Intro</title>
    <!-- Add Angular CDN below -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

</head>
<body>
<!--Feature Set 1-->
<div ng-init="myVar = 'Hi I\'m a string.'">{{myVar}}</div>
<!--Feature Set 2-->
<div ng-init="carArray = ['Jeep','Subaru','Toyota','Ford']">
    <ul>
        <li ng-repeat="cars in carArray">{{cars}}</li>
    </ul>
</div>
<!--Feature Set 3-->
<input type="text" ng-model="myInput">
<p>{{myInput}}</p>
</body>
</html>
